<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="32feet.NET" version="3.5.0.0" targetFramework="net461" />
  <package id="Ghostware.GPS.NET" version="1.0.14" targetFramework="net461" />
  <package id="Ghostware.NMEAParser" version="1.0.5" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="Wapps.Forms.Map" version="0.1.2" targetFramework="net461" />
  <package id="Xamarin.Forms" version="2.2.0.45" targetFramework="net461" />
  <package id="Xamarin.Forms.Maps" version="2.2.0.45" targetFramework="net461" />
</packages>